# Python tutorial #1

본 페이지는 한림대학교 710231(딥러닝이해및응용) 수업에서 학생들의 Python 학습을 위해 만든 페이지입니다.

## Hello World !

In [1]:
print('Hello World')

print('Hello World {} + {} = {}'.format(2, 3, 2+3))

Hello World
Hello World 2 + 3 = 5

## Basic data types

In [2]:
x = 3.1
print(type(x)) # Prints "<class 'int'>"
print(x)       # Prints "3"

<class 'float'>
3.1

In [2]:
print(x + 1)   # Addition; prints "4"
print(x - 1)   # Subtraction; prints "2"
print(x * 2)   # Multiplication; prints "6"
print(x ** 2)  # Exponentiation; prints "9"

4.1
2.1
6.2
9.610000000000001

## For statement

range: 영역을 설정

In [3]:
A = range(5)
print(A)

range(0, 5)

* A의 세번째 요소를 출력

In [5]:
print(A[2])

2

In [6]:
for i in range(5):
    #print(i, A[i])
    print('{} ----- {}'.format(i, A[i]))

0 ----- 0
1 ----- 1
2 ----- 2
3 ----- 3
4 ----- 4

#### Excersise

구구단을 작성하시오 (아래 코드를 수정하시오)

In [18]:
for j in range(8):
    for i in range(9):
        print('{} * {} = {}'.format(j+2, i+1, (j+2)*(i+1)))
        
    print('-------------------------------')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
-------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
-------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
-------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
-------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
-------------------------------

## Operators

In [8]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

## Containers
Python includes several built-in container types: lists, dictionaries, sets, and tuples.

### Tuple
A simple immutable (변경할 수 없는, 불변의) ordered sequence of items

In [21]:
# -*- coding: utf-8 -*-
# creating a tuple
months = ('January','February','March','April','May','June',\
'July','August','September','October','November','December')

print(months[5])
print("index of 7 ==> " , months[7])
print("index of 7 ==>  {}".format(months[7]))

June
index of 7 ==>  August
index of 7 ==>  August

하나씩 출력하기

In [25]:
for i in range(12):
    print('{} -- {}'.format(i+1, months[i]))

1 -- January
2 -- February
3 -- March
4 -- April
5 -- May
6 -- June
7 -- July
8 -- August
9 -- September
10 -- October
11 -- November
12 -- December

In [10]:
# iterate through them:
for item in months:
    print (item)

January
February
March
April
May
June
July
August
September
October
November
December

In [11]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2])
print(t[2][1])
print(t[:2]) # index 포함 X
print(t[2:]) # index 포함 O

print(t[-1])
print(t[-2])

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
((2, 3, 4, 5), 'hello')
hello
(2, 3, 4, 5)

### List
Mutable (바꿀수 있는, 변경가능한) ordered sequence of items of mixed types

In [12]:
li = ['hallym', 1, 3.141572, 'hello']
print(li)
li[1] = 45
print(li)
li.append('September')
print(li)

['hallym', 1, 3.141572, 'hello']
['hallym', 45, 3.141572, 'hello']
['hallym', 45, 3.141572, 'hello', 'September']

* 비어있는 리스트 만들기

In [13]:
v = []

* 비어있는 리스트에 값 추가하기

In [14]:
for i in range(0,3):
    v.append(i*5)
    print(v)

[0]
[0, 5]
[0, 5, 10]

### + 연산자

In [15]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3] + [4, 5, 6])
print("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

### * 연산자
The * operator produces a new tuple, list, or string that "repeats" the original content.

In [16]:
y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'float'>
2.5 3.5 5.0 6.25

### Enumeration (열거하기)

In [17]:
for i, val in enumerate(v):
    print('{} ---> {}'.format(i, val))

0 ---> 0
1 ---> 5
2 ---> 10

In [18]:
v2 = [ ':', '?', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'V', 'W', 'Y', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
print(v2)

[':', '?', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'V', 'W', 'Y', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [19]:
for i, val in enumerate(v2):
    print('{} ---> {}'.format(i, val))

0 ---> :
1 ---> ?
2 ---> A
3 ---> B
4 ---> C
5 ---> D
6 ---> E
7 ---> F
8 ---> G
9 ---> V
10 ---> W
11 ---> Y
12 ---> 0
13 ---> 1
14 ---> 2
15 ---> 3
16 ---> 4
17 ---> 5
18 ---> 6
19 ---> 7
20 ---> 8
21 ---> 9